body{
	background-color: #dedede;
	font-family: Î¢ÈíÑÅºÚ;
}

header{
	margin-bottom: 10px;
	background: #333333;
	height: 70px;
}

img.logo{
	float: left;
	height: 60px;
}

nav.head_nav{
	float: right;
}

nav.head_nav ul{
	padding-top:10px;
	display: block;
	list-style: disc;
}

nav.head_nav li{
	float: left;
	margin-left: 2em;
}

nav.head_nav a{
	color: white;
}

article.article, div.sidebar{
	box-shadow: 2px 2px #949494;
	padding: 20px 25px;
	margin: 10px 20px;
	background-color: white;
}

article.article p{
	font-weight: 500;
}

article img{
	max-width: 300px;
}

figcaption{
	font-weight: 500;
}

h2{
	font-weight: 700;
}

h3{
	font-weight: 400;
}
ul.article_list{
	list-style: none;
}

ul.article_list li{
	font-weight: 500;
}

span.article_info{
	font-weight: 100;
	color: gray;
}

table{
	width: 100%;
	border-collapse: collapse;
	border-color: #cccccc;
	font-weight: bold;
}

th, td{
	border-color: #cccccc;
	border-style: solid;
}

thead{
	background-color: black;
	color: white;
}

tfoot{
	background-color: #cccccc;
}

form h3{
	font-weight: bold;
}

form div{
	margin-bottom: 5px;
}

label{
	text-align: right;
	width: 30%;
	display: inline-block;
	margin-right: 10px;
}


div.submit_button{
	width: 100%;
}

div.submit_button>input{
	width: 100%;
	color: white;
	font-weight: bold;
	background-color: #3355d0;
	border-radius: 10px;
	font-size: 1em;
	margin-top: 10px;
	padding: 10px;
}

textarea{
	width: 50%;
	height: 10em;
	vertical-align: text-top;
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 20px;
}